<div class="profile">
  <strong>Name:</strong> <%= @searcheduser.fname + " " + @searcheduser.lname %>
  <strong>Username:</strong> <%= @searcheduser.username %>
  <strong>Email:</strong> <%= @searcheduser.email %>
  <strong>Birthday:</strong> <%= @searcheduser.birthday %>
  <strong>Bio:</strong> <%= @searcheduser.bio_content %>
</div>

<div class="posts">
    <% @posts.each do |post| %>
      <p class= "title"><%= post.title %></p>
      <p><%= post.content %></p>
    <% end %>
</div>
