
<div class="profile">
  <strong>Name:</strong> <%= @user.fname + " " + @user.lname %>
  <strong>Username:</strong> <%= @user.username %>
  <strong>Email:</strong> <%= @user.email %>
  <strong>Birthday:</strong> <%= @user.birthday %>
  <strong>Bio:</strong> <%= @user.bio_content %>
</div>

<div>
  <a class= "signout" href="/signout">Sign Out </a>
  <a class= "signout" href="/accountsettings">Account Settings</a>
  <a class= "signout" href="/compose">Compose</a>
</div>

<div class="posts">
    <% @posts.each do |post| %>
      <p class= "title">Title: <%= post.title %></p>
      <p>Content: <%= post.content %></p>
      <br>
    <% end %>
</div>
